@import url('bootstrap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Variable', sans-serif;
}

#logo-header {
    text-align: center;
}

.anchor-click {
    display: flex;
    justify-content: end;

}

.footer-img-tiny {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-img-tiny img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.footer-img-tiny span {
    color: white;
    font-size: 14px;
}

.second-block {
    background-image: url("/footer-bg.jpg");
    background-size: cover;
    background-position: center;
}

p {
    color: grey;
}

.jumbotron {
    height: 50vh;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: top;
}

.comic-img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.title-comic {
    min-height: 50px;
}

button {
    border: none;
    background: none;
    font-weight: 600;
    color: black;
    padding: 10px;
}

.active {
    color: #0282f9;
    border-bottom: solid;
}